* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Jura";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Jura";
  background: "#FBF9F7";
  color: #000;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  padding: 16px 35px;
  background: #FF6238;
  -webkit-box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.btn:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(66, 66, 66, 0.25);
          box-shadow: 10px 10px 10px rgba(66, 66, 66, 0.25);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  margin-top: 110px;
  margin-bottom: 80px;
}

/* Header */

.header {
  margin: 25px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list-link {
  color: #212A37;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.menu__list-link:hover {
  color: #FF6238;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.menu__item {
  font-size: 24px;
  line-height: 28px;
}

.menu__item + .menu__item {
  margin-left: 20px;
}

.menu__burger {
  display: none;
}

/* Offer */

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__inner-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.offer__social {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #212A37;
}

.offer__social:before {
  content: " ";
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background: #212A37;
}

.offer__social-img + .offer__social-img {
  margin-left: 8px;
}

.offer__title {
  max-width: 555px;
  font-size: 48px;
  line-height: 57px;
  font-weight: 400;
  margin-top: 70px;
  margin-left: 60px;
  margin-bottom: 80px;
}

.offer__title span {
  font-size: 58px;
}

.offer__btn {
  margin-left: 60px;
}

.offer__figure {
  max-width: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid #212A37;
}

.offer__square {
  margin-top: 15px;
  width: 230px;
  height: 230px;
  border: 1px solid #FFCA27;
}

.offer__square::before {
  content: " ";
  display: block;
  margin: 15px auto;
  width: 200px;
  height: 200px;
  background: #FFCA27;
  position: relative;
  z-index: -1;
}

.offer__square::after {
  content: " ";
  display: block;
  position: relative;
  right: 40px;
  bottom: 60px;
  width: 100px;
  height: 100px;
  z-index: -1;
  background: #212A37;
}

.offer__line {
  max-width: 670px;
  border-top: 1px solid #212A37;
  margin-top: 100px;
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer__circus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 15px;
}

.offer__circus-1 {
  background: #FFCA27;
}

.offer__circus-2 {
  background: #FF6238;
}

.offer__circus-3 {
  background: #212A37;
}

.circus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 15px;
}

.circus-1 {
  background: #FFCA27;
}

.circus-2 {
  background: #FF6238;
  margin-right: 15px;
  margin-left: 15px;
}

.circus-3 {
  background: #212A37;
}

/* Skills */

.skills::after {
  content: " ";
  display: block;
  width: 100%;
  height: 789px;
  position: absolute;
  top: 535px;
  z-index: -1;
  background: url("../img/circus.svg") no-repeat;
}

.skills__inner {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}

.skills__title {
  text-align: right;
}

.skills__block-right {
  text-align: right;
  margin-top: 40px;
}

.skills__name {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 36px;
  line-height: 43px;
  border-bottom: 1px solid #000000;
}

.skills__desc {
  font-size: 24px;
  line-height: 28px;
  margin-top: 15px;
}

/* Work */

.work__title {
  margin-top: 200px;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__inner-item {
  text-align: center;
  margin-top: 40px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.work__inner-item img {
  display: block;
  max-width: 370px;
  height: auto;
}

.work__inner-item:hover {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.work__name {
  display: inline-block;
  max-width: 370px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  margin-top: 10px;
  color: #000;
}

.work__circus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

/* Contacts */

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__text {
  max-width: 450px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 35px;
}

.contacts__email,
.contacts__location {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 131.19%;
  margin-top: 10px;
  color: #000;
}

.contacts__email::before {
  content: " ";
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: url("../img/email.svg") no-repeat;
}

.contacts__location::before {
  content: " ";
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: url("../img/location.svg") no-repeat;
}

.contacts__form {
  width: 45%;
}

.contacts__form input,
.contacts__form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #8D8A8A;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.contacts__form input::-webkit-input-placeholder, .contacts__form textarea::-webkit-input-placeholder {
  font-family: "Jura";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.contacts__form input::-moz-placeholder, .contacts__form textarea::-moz-placeholder {
  font-family: "Jura";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.contacts__form input:-ms-input-placeholder, .contacts__form textarea:-ms-input-placeholder {
  font-family: "Jura";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.contacts__form input::-ms-input-placeholder, .contacts__form textarea::-ms-input-placeholder {
  font-family: "Jura";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.contacts__form input::placeholder,
.contacts__form textarea::placeholder {
  font-family: "Jura";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.contacts__form input:focus,
.contacts__form textarea:focus {
  border: 1px solid #FF6238;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.contacts__form input._error,
.contacts__form textarea._error {
  border: 1px solid red;
}

.contacts__btn {
  font-family: "Jura";
  width: 100%;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 600;
}

/* Footer */

.footer {
  margin-top: 100px;
  background: #212A37;
  padding: 25px 0;
}

.footer__inner {
  text-align: center;
}

.footer__copyright {
  font-size: 16px;
  line-height: 131.19%;
  color: #FFFFFF;
  margin-top: 15px;
}

.footer__social-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 38px;
  border-radius: 50%;
  background: #fff;
}

.footer__social-img + .footer__social-img {
  margin-left: 8px;
}

@media (max-width: 1182pxpx) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98pxpx) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 991.98px) {
  .work__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .work__inner-item {
    margin-top: 60px;
  }

  .work__inner-item:nth-child(2n+1) {
    margin-right: 20px;
  }

  .work__name {
    width: 100%;
    font-size: 22px;
    line-height: 27px;
  }
}

@media (max-width: 945px) {
  .offer__title {
    font-size: 42px;
    line-height: 50px;
  }

  .offer__title span {
    font-size: 52px;
  }
}

@media (max-width: 850px) {
  .offer__social {
    max-width: 270px;
  }

  .offer__title {
    margin-left: 0;
  }

  .offer__btn {
    margin-left: 0;
  }

  .offer__square {
    width: 200px;
    height: 200px;
  }

  .offer__square::before {
    width: 170px;
    height: 170px;
  }

  .offer__square::after {
    width: 85px;
    height: 85px;
    bottom: 50px;
  }
}

@media (max-width: 767.98pxpx) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .menu {
    background: #fff;
    position: fixed;
    height: 100%;
    right: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .menu._active {
    right: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px;
  }

  .menu__item {
    font-size: 30px;
    line-height: 50px;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .menu__burger {
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .menu__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .menu__burger span:first-child {
    top: 0px;
  }

  .menu__burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu__burger._active {
    position: fixed;
  }

  .menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .offer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .offer__figure {
    max-width: 270px;
    border-top: none;
    margin-top: 80px;
  }

  .offer__figure {
    max-width: 200px;
  }

  .offer__figure {
    display: none;
  }

  .circus {
    margin-top: 25px;
  }

  .skills::after {
    display: none;
  }

  .skills__inner {
    max-width: none;
    padding: 0;
  }

  .skills__title {
    text-align: center;
  }

  .skills__block {
    text-align: center;
  }

  .skills__name {
    font-size: 32px;
  }

  .work__title {
    text-align: center;
    margin-bottom: -10px;
  }

  .work__inner-item:nth-child(2n+1) {
    margin-right: 0;
  }

  .work__inner-item img {
    max-width: 600px;
  }

  .work__inner-item img {
    width: 100%;
  }

  .work__name {
    max-width: 570px;
    font-size: 26px;
    margin-top: 25px;
  }

  .contacts {
    text-align: center;
  }

  .contacts__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__text {
    text-align: center;
  }

  .contacts__form {
    margin-top: 30px;
    width: 100%;
  }

  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 750px) {
  .offer__title {
    font-size: 36px;
    line-height: 44px;
  }

  .offer__title span {
    font-size: 46px;
  }

  .offer__square {
    width: 170px;
    height: 170px;
  }

  .offer__square::before {
    width: 140px;
    height: 140px;
  }

  .offer__square::after {
    width: 65px;
    height: 65px;
    bottom: 40px;
    right: 30px;
  }

  .offer__line {
    margin-top: 70px;
    margin-left: 265px;
  }
}

@media (max-width: 490px) {
  .offer__line {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .title {
    font-size: 36px;
    line-height: 35px;
  }

  .skills__name {
    font-size: 28px;
  }

  .skills__desc {
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  .offer__title {
    text-align: center;
    font-size: 27px;
    line-height: 40px;
  }

  .offer__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .offer__social {
    max-width: 200px;
  }
}